* {
  color: blueviolet;
  font-family: Monaco, "Lucida Console", monospace;
  box-sizing: border-box;
  margin: 0 1%;
  padding: 0;
}

body {
  background-image: url(resources/images/spikes.webp);
}

ol li {
  list-style-type: lower-greek;
  margin: 0 1.7em;
}

h1.bordered {
  text-align: center;
  padding: 50px;
}

img.bordered {
  padding: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bordered {
  border-color: blue;
  border-style: double;
  background-color: whitesmoke;
  border-width: 10px;
  padding: 10px;
  margin-top: 2.5%;
}

.link-list {
  list-style: none;
  display: flex;
}

.link-list .link {
  display: inline;
  background-color: rgba(227, 233, 233, 0.63);
  border-style: double;
  border-color: blue;
  width: 250px;
  text-align: center;
  /* flex: auto; */
  /* flex: initial; */
  flex: 1 1 auto;
  min-width: 200px;
  /* comment out preceding for old list */
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 5px;
}

.link-list .link:hover,
.link-list .link:hover a {
  background-color: blueviolet;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bolder;
}
