* {
  color: blueviolet;
  font-family: Monaco, "Lucida Console", monospace;
  /* for example of box model, uncomment lines 5–6 */
  /* border-style: solid;
  border-color: green; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(resources/images/spikes.webp);
}

h1.bordered {
  text-align: center;
  padding: 50px;
}

img.bordered {
    padding: 0px;
}

.bordered {
    border-color: blue;
    border-style: double;
    background-color: whitesmoke;
    border-width: 10px;
    padding: 10px;
    margin-top: 2.5%;
}

.link-list .link {
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 5px;
}


